<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
    <h1><%= product.name %></h1>
        <li>Price:<%= product.price %> </li>
        <li>Category:<%= product.category %> </li>
        <a href="/products/"> All product</a>
        <a href="/products/<%=product._id%>"> edit</a>
<body>
    
</body>
</html>